.env
node_modules/
.next/
public/data/HNX.json
public/data/VNINDEX.json
public/data/HNX30.json
public/data/UPCOM.json
public/data/VN30.json


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Các file môi trường khác
.env.local
.env.development
.env.test
.env.production

# Cache
.swc/
.eslintcache

# Files hệ điều hành
.DS_Store
Thumbs.db