.env
node_modules/
.next/

# Cache files for stock data
# Loại trừ tất cả các file JSON trong thư mục public/data/
public/data/*.json
# Giữ lại thư mục public/data/ nhưng không có file nào trong đó
!public/data/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Các file môi trường khác
.env.local
.env.development
.env.test
.env.production

# Cache
.swc/
.eslintcache

# Files hệ điều hành
.DS_Store
Thumbs.db